<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kaitai Struct: declarative binary format parsing language</title>
  <meta name="keywords" content="kaitai,struct,binary,format,parsing,decoding,java,javascript,python,ruby,library,metadata">
  <meta name="description" content="Kaitai Struct is a formal language for binary format specification that can be compiled into parser code">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/bootstrap-docs-callouts.css">
  <link href='https://fonts.googleapis.com/css?family=Exo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/highlight/default.css">

  <script src="{{ site.baseurl }}/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MFSBBRGREL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MFSBBRGREL');
  </script>
</head>
<body data-spy="scroll" data-target="#main-navbar" data-offset="100">

    <nav class="navbar navbar-inverse navbar-fixed-top" id="main-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Kaitai Struct</span>
            </div>
            {% if page.url == '/' %}
            {% assign root_path = '' %}
            {% else %}
            {% assign root_path = '/' | relative_url %}
            {% endif %}
            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li{% if page.url == '/' %} class="active"{% endif %}><a href="{{ root_path }}#what-is-it">What is it?</a></li>
                    <li><a href="{{ root_path }}#quick-start">Quick Start</a></li>
                    <li><a href="{{ root_path }}#download">Download</a></li>
                    {% assign news_prefix = '/news/' %}
                    {% assign page_url_start = page.url | slice: 0, news_prefix.size %}
                    <li{% if page_url_start == news_prefix %} class="active"{% endif %}><a href="/news/">News</a></li>
                    <li><a href="//formats.kaitai.io/">Format Gallery</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://ide.kaitai.io/">Try it &mdash; Web IDE</a></li>
                    <li><a href="//doc.kaitai.io/">Documentation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}

    <footer id="main-footer">
        <div class="container">
            &copy; 2015&ndash;2023 Kaitai Project

            <h3>Contacts</h3>

            <div class="row">
                <div class="col-sm-4">
                    <i class="fa fa-fw fa-2x fa-github"></i> <a href="https://github.com/kaitai-io/kaitai_struct">GitHub</a>
                </div>
                <div class="col-sm-4">
                    <i class="fa fa-fw fa-2x fa-twitter"></i> <a href="https://twitter.com/kaitai_io">@kaitai_io</a>
                </div>
                <div class="col-sm-4">
                    Gitter: <a href="https://gitter.im/kaitai_struct/Lobby">kaitai_struct</a>
                </div>
            </div>
        </div>
    </footer>

  <script src="{{ site.baseurl }}/js/jquery-1.12.3.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  {{ page.extra_footer }}

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76299550-1', 'auto');
      ga('send', 'pageview');
  </script>
</body>
</html>
