body {
    font-family: Exo;
    margin-top: 70px;
}

pre, code, #source, #compiled {
    font-family: 'Share Tech Mono';
}

.jumbotron {
    background: #773b37;
    color: #e9d9cf;
}

.jumbotron h1, .jumbotron i, .jumbotron strong {
    color: #ffffff;
}

.jumbotron a {
    color: #8cc0ed;
}

.jumbotron .well {
    background: #311210;
    border-color: #000000;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

#quick-start {
    background: #D1EADD;
    color: #111111;
}

#quick-start pre, #quick-start code {
    background: #E1FAED;
}

#format-gallery {
    background: #E1EBCD;
    color: #111111;
}

code {
    color: #880000;
}

section.news {
    background: #E1EBCD;
    color: #111111;
}

section.news code {
    background: #f7ffe8;
    color: #426400;
}

section.news h1 {
    margin-bottom: 64px;
}

#main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

#main-footer i {
    vertical-align: middle;
}

/* Scroller stuff */

#scroller {
    background: #000000;
    overflow: hidden;
    position: relative;
}

#pane1, #pane2 {
    color: #3050A0;
    font-family: 'Share Tech Mono';
    white-space: nowrap;
    position: absolute;
}

.fx {
    animation: fader 15s;
}

@keyframes fader {
    0% {
        color: #FFFFFF;
        text-shadow: #FFFFFF 0 0 2px, #6080FF 0 0 10px;
    }
    100% {
        color: #3050A0;
        text-shadow: #000000 0 0 2px, #000000 0 0 10px;
    }
}

/* REPL */

#source {
	background: #232323;
}

#source, #compiled {
	height: 500px;
}
